@import './reset.css';
@import './fonts.css';
@import './vars.css';

body {
	font-family: var(--main-font);
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-base-font);
	background-color: var(--color-base);
}

/* Typography */

h1 {
	font-size: 1.75rem;
	font-weight: 900;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

h3 {
	line-height: 1.5rem;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	@media (max-width: var(--breakpoint-desktop)) {
		max-width: 80%;
	}

	@media (max-width: var(--breakpoint-laptop)) {
		max-width: 85%;
	}

	@media (max-width: var(--breakpoint-tablet)) {
		max-width: 95%;
	}

	@media (max-width: var(--breakpoint-mobile)) {
		max-width: 100%;
	}
}
