@import './reset.css';
@import './fonts.css';
@import './vars.css';

body {
	font-family: var(--main-font);
	font-size: 1rem;
	font-weight: 500;
	color: var(--color-base-font);
	background-color: var(--color-base);
}

/* Typography */

h1 {
	font-size: 1.75rem;
	font-weight: 900;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* Media Queries */
@media (max-width: 1440px), (max-width: var(--breakpoint-desktop)) {
	.container {
		max-width: 77%;
	}
}

@media (max-width: 1223px), (max-width: var(--breakpoint-laptop)) {
	.container {
		max-width: 85%;
	}
}

@media (max-width: 1102px), (max-width: var(--breakpoint-tablet)) {
	.container {
		max-width: 95%;
	}
}

@media (max-width: 986px), (max-width: var(--breakpoint-mobile)) {
	.container {
		max-width: 100%;
	}
}
